*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #222;
  background: #fafafa;
  padding: 3rem;
  font-family: Helvetica, sans-serif;
}
